 <%- include("includes/head.ejs") %>  <!--includes folder mai head.ejs file available h -->
<body>
    <h1>This Page belongs to @ <%= Data.name %></h1>
    <button>Follow</button>
    <button>Message</button>

    <p>Followers : <%= Data.followers %> &nbsp &nbsp
    Following : <%= Data.following %></p>
    <hr>
    <% for ( let post of Data.posts){ %>
    <img src="<%= post.image %>">
    <p>Likes : <%= post.likes %> &nbsp &nbsp
    comments : <%= post.comments %></p>
    <% } %>
    <script src="/app.js"></script>
</body>
</html>
